.collection-icon  {
    width: 32px;
    height: 32px;
    margin: 5px;
}


.collection-name {
    font-weight: 700;
}

.input {
    width: 100%;
}

.list {
    width: 100%;
    position: relative;
    overflow: auto;
    max-height: 300px; 
    margin: 0px 5px;
}
.item {
    border: 1px solid #8d99ae50;
    border-radius: 5px;
    background-color: #8d99ae20;
    /* cursor: pointer; */
    box-shadow: 1px 3px 3px #8d99ae20;
    margin-top: 5px;
}

.item:hover {
    background-color: #8d99ae50;    
}

.item-content {
    color: #2b2d42;
    font-weight: 800;
}

.item-edit-icon {
    color: #0096c7;
}
.item-save-icon {
    color: #2a9d8f;
}

.item-delete-icon {
    color: #e63946;
}

